@charset "UTF-8";
@font-face{font-family:nanum_square_round;src:local("NanumSquareRoundOTFL"),url(../font/nanum-square-round/NanumSquareRoundOTFL.otf) format("otf"),url(../font/nanum-square-round/NanumSquareRoundL.ttf) format("truetype");font-weight:100;font-display:fallback}
@font-face{font-family:nanum_square_round;src:local("NanumSquareRoundOTFR"),url(../font/nanum-square-round/NanumSquareRoundOTFR.otf) format("otf"),url(../font/nanum-square-round/NanumSquareRoundR.ttf) format("truetype");font-weight:400;font-display:fallback}
@font-face{font-family:nanum_square_round;src:local("NanumSquareRoundOTFEB"),url(../font/nanum-square-round/NanumSquareRoundOTFEB.otf) format("otf"),url(../font/nanum-square-round/NanumSquareRoundB.ttf) format("truetype");font-weight:700;font-display:fallback}
body,body *{font-family:nanum_square_round}
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,img,input,legend,li,ol,p,select,table,td,textarea,th,ul{margin:0;padding:0}
body{background-color:#fff;-webkit-text-size-adjust:none}
fieldset,img{border:0;vertical-align:top}
address,em{font-style:normal}
li,ol,ul{list-style:none}
textarea{-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:transparent;border:0;word-break:keep-all;word-wrap:break-word}
button{appearance:none;-webkit-appearance:none;background-color:transparent;border:0}
.blind{position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;margin:-1px;overflow:hidden}
a{text-decoration:none}
a:hover{text-decoration:none}
button{cursor:pointer}
button:active,button:focus{outline:0}
.fp-watermark{display:none}
.fp-viewing-main .planic .header{display:block;position:absolute;width:100%;height:80px;background-color:#fff;z-index:10}
.fp-viewing-main .planic .header__box{display:flex;justify-content:space-between;align-items:center;width:100%;max-width:1100px;height:90px;margin:0 auto}
.fp-viewing-main .planic .header__box h1{display:block;position:relative;font-size:28px;line-height:34px;font-weight:900;letter-spacing:-.7px;color:#000}
.fp-viewing-main .planic .header__box h1 a{color:#000}
.fp-viewing-main .planic .header__box .global__menu{display:block;flex:1;position:relative}
.fp-viewing-main .planic .header__box .global__menu .btn__menu--mobile{display:none}
.fp-viewing-main .planic .header__box .global__menu .global__menuList{display:flex;justify-content:space-between}
.fp-viewing-main .planic .header__box .global__menu .global__menuList--item{position:relative;display:block}
.fp-viewing-main .planic .header__box .global__menu .global__menuList--item>a{position:relative;display:block;font-size:22px;line-height:28px;font-weight:500;color:#4a4a4a;text-decoration:none}
.fp-viewing-main .planic .header__box .global__menu .global__menuList--item>a:before{content:"";display:block;position:absolute;bottom:0;left:0;width:0;height:3px;background:0 0}
.fp-viewing-main .planic .header__box .global__menu .global__menuList--item>a:hover{color:#000}
.fp-viewing-main .planic .header__box .global__menu .global__menuList--item>a:hover:before{width:100%;background:#000;transition:width .25s cubic-bezier(.51,.18,0,.88) .1s}
.fp-viewing-main .planic .header__box .global__menu .global__menuList:after,.fp-viewing-main .planic .header__box .global__menu .global__menuList:before{content:"";display:block}
.planic{display:block;position:relative;width:100%}
.planic .header{display:block;position:absolute;width:100%;height:80px;background-color:#000;z-index:10}
.planic .header__box{display:flex;justify-content:space-between;align-items:center;width:100%;max-width:1100px;height:90px;margin:0 auto}
.planic .header__box h1{display:block;position:relative;font-size:28px;line-height:34px;font-weight:900;letter-spacing:-.7px;color:#fff}
.planic .header__box h1 a{color:#fff}
.planic .header__box .global__menu{display:block;flex:1;position:relative}
.planic .header__box .global__menu .btn__menu--mobile{display:none}
.planic .header__box .global__menu .global__menuList{display:flex;justify-content:space-between}
.planic .header__box .global__menu .global__menuList--item{position:relative;display:block}
.planic .header__box .global__menu .global__menuList--item>a{position:relative;display:block;font-size:22px;line-height:28px;font-weight:500;color:#fff;text-decoration:none}
.planic .header__box .global__menu .global__menuList--item>a:before{content:"";display:block;position:absolute;bottom:0;left:0;width:0;height:3px;background:0 0}
.planic .header__box .global__menu .global__menuList--item>a:hover{color:#fff}
.planic .header__box .global__menu .global__menuList--item>a:hover:before{width:100%;background:#fff;transition:width .25s cubic-bezier(.51,.18,0,.88) .1s}
.planic .header__box .global__menu .global__menuList:after,.planic .header__box .global__menu .global__menuList:before{content:"";display:block}
.planic .container{display:block;position:relative;height:100%}
.planic .section{display:block;position:relative;height:100%;padding-top:80px;box-sizing:border-box;background-color:#fff}
.planic .section:nth-child(odd){background-color:#f0f2f7}
.planic .sec__main{position:relative;display:flex;align-items:center;justify-content:center;background-color:#000!important}
.planic .sec__main .textBox{display:block}
.planic .sec__main .textBox .textBox__text--main{position:relative;font-size:46px;line-height:1.2;color:#fff;white-space:nowrap;font-weight:900}
.planic .sec__main .textBox .textBox__text--main::before{content:"WEB PUBLISHER 노은찬";position:absolute;top:0;left:0;width:100%;border-right:3px solid #adff2f;color:#adff2f;animation:animaition_effect 5s linear infinite;overflow:hidden;white-space:nowrap;padding-right:5px;white-space:nowrap;font-weight:900}
.planic .sec__main .textBox .textBox__text--sub{position:absolute;bottom:40px;left:50%;transform:translateX(-50%);font-size:24px;line-height:1.2;color:#fff;font-weight:900}
.planic .sec__main .textBox .textBox__text--sub::before{content:"";display:block;position:absolute;top:calc(100% + 5px);left:50%;transform:translate(-50%) rotate(135deg);width:10px;height:10px;border:solid #fff;border-width:2px 2px 0 0}
.planic .sec__intro{background:#fff;display:flex;justify-content:center;align-items:center}
.planic .sec__intro .imgBox{display:block;position:relative;width:300px}
.planic .sec__intro .imgBox .item{display:block;position:relative;width:100%;height:auto}
.planic .sec__intro .imgBox .item>img{display:block;width:100%}
.planic .sec__intro .imgBox .item+.item{margin-top:30px}
.planic .sec__intro .textBox{display:block;position:relative;margin-left:13vw}
.planic .sec__intro .textBox .group{display:block;position:relative}
.planic .sec__intro .textBox .group__Title{display:block;position:relative;margin-bottom:15px;font-size:24px;line-height:1.2;font-weight:700;color:#000}
.planic .sec__intro .textBox .group .groupList{display:block;position:relative;margin-top:10px}
.planic .sec__intro .textBox .group .groupList__item{display:block;position:relative;font-size:20px;line-height:1.4;padding-left:150px;box-sizing:border-box}
.planic .sec__intro .textBox .group .groupList__item--date{display:block;position:absolute;top:0;left:0;letter-spacing:-.65px}
.planic .sec__intro .textBox .group .groupList__item--main{font-weight:700}
.planic .sec__intro .textBox .group .groupList__item--sub{font-size:16px;color:#4a4a4a}
.planic .sec__intro .textBox .group .groupList__item+.groupList__item{margin-top:10px}
.planic .sec__intro .textBox .group+.group{margin-top:20px}
.planic .sec__introduce{display:flex;justify-content:center;align-items:center}
.planic .sec__introduce .groupList__basic{display:block;position:relative}
.planic .sec__introduce .groupList__basic>li{position:relative;display:block;padding-left:10px;font-size:16px;line-height:1.4;color:#4a4a4a}
.planic .sec__introduce .groupList__basic>li+li{margin-top:10px}
.planic .sec__introduce .groupList__basic>li:before{content:"-";display:block;position:absolute;top:0;left:0}
.planic .sec__introduce .imgBox{position:relative;display:block;display:flex;flex-wrap:wrap;width:31.6667vw;height:31.6667vw}
.planic .sec__introduce .imgBox .item{display:block;width:calc(50% - 20px);height:calc(50% - 20px);border-radius:50%;overflow:hidden;margin:10px}
.planic .sec__introduce .imgBox .item>img{display:block;position:relative;width:100%;height:100%;object-fit:cover}
.planic .sec__introduce .textBox{display:block;margin-left:150px}
.planic .sec__introduce .textBox .group{display:block;position:relative}
.planic .sec__introduce .textBox .group__Title{display:block;position:relative;margin-bottom:15px;font-size:24px;line-height:1.2;font-weight:700;color:#000}
.planic .sec__introduce .textBox .group .groupList{display:block;position:relative;margin-top:10px}
.planic .sec__introduce .textBox .group .groupList__item{display:block;position:relative;font-size:20px;line-height:1.4;padding-left:150px;box-sizing:border-box}
.planic .sec__introduce .textBox .group .groupList__item--date{display:block;position:absolute;top:0;left:0}
.planic .sec__introduce .textBox .group .groupList__item--main{font-weight:700}
.planic .sec__introduce .textBox .group .groupList__item--sub{font-size:16px;color:#4a4a4a}
.planic .sec__introduce .textBox .group .groupList__item+.groupList__item{margin-top:10px}
.planic .sec__introduce .textBox .group+.group{margin-top:20px}
.planic .sec__introduce .snsBox{display:flex;width:260px;margin:30px auto 0;justify-content:space-between;align-items:flex-end;flex-wrap:wrap}
.planic .sec__introduce .snsBox .sns{display:block;width:60px;height:60px;border:1px solid #eaeaea;border-radius:50%;background:#fff}
.planic .sec__introduce .snsBox .sns:hover{transform:scale(1.3);transition:.5s ease-in-out}
.planic .sec__introduce .snsBox .email{display:block;margin-top:20px;width:100%;font-size:16px;letter-spacing:-.65px;color:#000;text-align:center}
.planic .sec__introduce .snsBox .email>a{color:#000}
.planic .sec__introduce .snsBox .email>a:hover{text-decoration:underline}
.planic .sec__history{display:flex;justify-content:center;align-items:center;position:relative}
.planic .sec__history .historyWrap{display:block;width:100%;height:100%;border-radius:20px;padding:30px 20px;box-sizing:border-box;box-shadow:0 6px 8px 0 rgba(8,25,39,.06);background-color:#fff}
.planic .sec__history .historyWrap .historyTab{display:flex;width:100%;padding-bottom:20px;border-bottom:2px solid #e1e1e1;margin-bottom:20px}
.planic .sec__history .historyWrap .historyTab .btn_tab{display:block;font-size:20px;line-height:1.2;color:#000;font-weight:900}
.planic .sec__history .historyWrap .historyTab .btn_tab+.btn_tab{margin-left:15px}
.planic .sec__history .historyWrap .historyTab .btn_tab:nth-child(1).select,.planic .sec__history .historyWrap .historyTab .btn_tab:nth-child(1):hover{color:#cd0000}
.planic .sec__history .historyWrap .historyTab .btn_tab:nth-child(2).select,.planic .sec__history .historyWrap .historyTab .btn_tab:nth-child(2):hover{color:#1c90fb}
.planic .sec__history .historyWrap .historyTab .btn_tab:nth-child(3).select,.planic .sec__history .historyWrap .historyTab .btn_tab:nth-child(3):hover{color:#1c90fb}
.planic .sec__history .historyWrap .historyBox{display:block;position:relative;width:100%;height:calc(100% - 66px)}
.planic .sec__history .historyWrap .historyBox .group{display:block;height:100%}
.planic .sec__history .historyWrap .historyBox .group .historyList{display:block;position:relative;width:100%;height:100%}
.planic .sec__history .historyWrap .historyBox .group .historyList .item{position:relative;display:flex;flex-direction:column;gap:60px;height:100%;box-sizing:border-box}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .service__title{display:block;font-size:24px;line-height:1.4;font-weight:900}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .service__title--logo{display:inline-block;vertical-align:top;width:24px;height:auto;object-fit:cover;margin-top:2px}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .service__title--link{color:#1c90fb}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .service__title--link:hover{text-decoration:underline}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .itemList{display:block;width:100%;position:relative}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .itemList .dl_item{display:flex;font-size:16px;line-height:1.3}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .itemList .dl_item+.dl_item{margin-top:10px}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .itemList .dl_item dt{display:block;width:150px;min-width:150px;font-weight:900;color:#000;word-break:keep-all}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .itemList .dl_item dd{display:block;position:relative}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .itemList .dl_item dd a{font-weight:900;color:#1c90fb}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .itemList .dl_item dd a:hover{text-decoration:underline}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .itemList .dl_item dd p,.planic .sec__history .historyWrap .historyBox .group .historyList .item .itemList .dl_item dd span{display:block;color:#4a4a4a;word-break:keep-all}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .itemList .dl_item dd p .linkText,.planic .sec__history .historyWrap .historyBox .group .historyList .item .itemList .dl_item dd span .linkText{color:#1c90fb;cursor:pointer}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .itemList .dl_item dd p+span,.planic .sec__history .historyWrap .historyBox .group .historyList .item .itemList .dl_item dd span+span{margin-top:10px}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .itemList .dl_item dd p+p,.planic .sec__history .historyWrap .historyBox .group .historyList .item .itemList .dl_item dd span+p{margin-top:10px}
.planic .sec__history .historyWrap .historyBox .group .historyList .slick-list{display:block;position:relative;width:100%;height:100%;overflow:hidden}
.planic .sec__history .historyWrap .historyBox .group .historyList .slick-list .slick-track{display:flex;height:100%}
.planic .sec__history .historyWrap .historyBox .group .historyList .slick-arrow{display:block;position:absolute;top:50%;width:50px;height:50px;border-radius:50%;background:#fff;margin-top:-20px;font-size:0;line-height:0;color:transparent;text-indent:-10000px;border:1px solid #e1e1e1;background-color:#fff;z-index:100}
.planic .sec__history .historyWrap .historyBox .group .historyList .slick-arrow.slick-prev{left:0}
.planic .sec__history .historyWrap .historyBox .group .historyList .slick-arrow.slick-prev:before{transform:rotate(180deg);margin-left:-8px}
.planic .sec__history .historyWrap .historyBox .group .historyList .slick-arrow.slick-next{right:0}
.planic .sec__history .historyWrap .historyBox .group .historyList .slick-arrow:before{content:"";display:block;position:absolute;top:50%;left:50%;width:12px;height:22px;margin:-11px 0 0 -4px;background:url(https://static.wehago.com/imgs/common/sp_icon.png) -192px -488px}
.planic .sec__history .historyWrap .historyBox .group .historyList .slick-arrow.slick-disabled{display:none!important}
.planic .sec__history .historyWrap .historyBox .group .historyList .slick-dots{display:block;position:absolute;bottom:-30px;left:50%;transform:translateX(-50%)}
.planic .sec__history .historyWrap .historyBox .group .historyList .slick-dots>li{display:inline-block;vertical-align:top;width:6px;height:6px;margin:0 5px}
.planic .sec__history .historyWrap .historyBox .group .historyList .slick-dots>li.slick-active>button{background-color:#000}
.planic .sec__history .historyWrap .historyBox .group .historyList .slick-dots>li>button{display:block;font-size:0;color:transparent;text-indent:-10000px;width:100%;height:100%;border-radius:50%;background-color:rgba(0,0,0,.3)}
.planic .sec__history .historyWrap .viewList{flex:1;display:grid;grid-template-columns:repeat(auto-fill,minmax(30%,1fr));align-items:center;gap:20px;padding:10px;box-sizing:border-box;overflow-y:auto;-ms-overflow-style:none}
.planic .sec__history .historyWrap .viewList.viewList::-webkit-scrollbar{display:none}
.planic .sec__history .historyWrap .viewList__item{display:flex;flex-direction:column;gap:8px;width:100%;height:fit-content;box-shadow:0 4px 12px 0 rgba(0,0,0,.1);border-radius:16px;padding:8px;box-sizing:border-box}
.planic .sec__history .historyWrap .viewList__item--title{display:block;font-size:16px;line-height:20px;font-weight:700;color:#000;text-align:center}
.planic .sec__history .historyWrap .viewList__item--img{display:block;width:100%;height:auto}
.planic .sec__history .historyWrap .viewList__item--img img{display:block;width:100%;margin:0 auto}
.planic .sec__skills{display:flex;justify-content:center;align-items:center;position:relative}
.planic .sec__skills .textBox{display:block;position:relative}
.planic .sec__skills .textBox .group{display:flex;position:relative}
.planic .sec__skills .textBox .group+.group{margin-top:30px}
.planic .sec__skills .textBox .group__Title{display:block;width:150px;min-width:150px;font-size:30px;line-height:1.3;font-weight:900}
.planic .sec__skills .textBox .group .groupList{display:block;position:relative}
.planic .sec__skills .textBox .group .groupList li{display:block;font-size:22px;line-height:1.4}
@keyframes animaition_effect{
0%,100%{width:0}
50%{width:100%}
}
@media (max-width:750px){
.fp-viewing-main .planic .header{height:40px;background-color:#fff}
.fp-viewing-main .planic .header .global__menu .btn__menu--mobile span{background-color:#000!important}
.planic .header{height:40px;padding:0 20px;box-sizing:border-box}
.planic .header .header__box{height:40px}
.planic .header .header__box h1{font-size:18px;line-height:1.3em}
.planic .header .header__box .global__menu{display:block;position:absolute;top:50%;right:10px;margin-top:-10px;flex:none}
.planic .header .header__box .global__menu .btn__menu--mobile{position:relative;display:flex;flex-direction:column;justify-content:space-between;width:20px;height:20px;z-index:10}
.planic .header .header__box .global__menu .btn__menu--mobile span{display:block;width:100%;height:3px;background:#fff;border-radius:6px;margin:1px 0}
.planic .header .header__box .global__menu .global__menuList{display:block;position:fixed;top:0;transform:translateX(15%);transition:transform .3s linear;bottom:0;width:60%;background:#fff;padding:40px 0;box-sizing:border-box;border-left:1px solid #e1e1e1}
.planic .header .header__box .global__menu .global__menuList--item{display:block;position:relative;padding:10px 20px}
.planic .header .header__box .global__menu .global__menuList--item+.global__menuList--item{border-top:1px solid #e1e1e1}
.planic .header .header__box .global__menu .global__menuList--item>a{display:block;width:100%;font-size:18px;line-height:1.3em;color:#4a4a4a}
.planic .header .header__box .global__menu.open .btn__menu--mobile{position:relative;display:flex;flex-direction:column;justify-content:space-between;width:20px;height:20px;z-index:10}
.planic .header .header__box .global__menu.open .btn__menu--mobile span{position:absolute;display:block;top:8px;left:0;width:100%;height:3px;background:#000;border-radius:6px}
.planic .header .header__box .global__menu.open .btn__menu--mobile span:nth-child(1){transform:rotate(45deg)}
.planic .header .header__box .global__menu.open .btn__menu--mobile span:nth-child(2){transform:rotate(135deg)}
.planic .header .header__box .global__menu.open .btn__menu--mobile span:last-child{display:none}
.planic .header .header__box .global__menu.open .global__menuList{transform:translateX(-85%);transition:transform .3s linear}
.planic .section{padding-top:40px}
.planic .sec__main .textBox{max-width:90%}
.planic .sec__main .textBox .textBox__text--main{font-size:7.2vw}
.planic .sec__main .textBox .textBox__text--sub{font-size:4vw}
.planic .sec__main .textBox .textBox__text--sub::before{width:2vw;height:2vw}
.planic .sec__introduce{flex-direction:column;padding:40px 20px;box-sizing:border-box}
.planic .sec__introduce .imgBox{width:100%;margin:0 auto;align-items:center;justify-content:center}
.planic .sec__introduce .imgBox .item{width:70px;height:70px;margin:5px}
.planic .sec__introduce .textBox{margin:0}
.planic .sec__introduce .textBox li{font-size:14px}
.planic .sec__intro{padding:40px 20px;box-sizing:border-box}
.planic .sec__intro .imgBox{display:none}
.planic .sec__intro .textBox{margin:0}
.planic .sec__intro .textBox .group .groupList__item{font-size:18px;line-height:1.3}
.planic .sec__intro .textBox .group .groupList__item--sub{font-size:15px}
.planic .sec__history{padding:40px 0 0;box-sizing:border-box}
.planic .sec__history .historyWrap{display:block;height:100%;width:100%;padding:20px 0;box-sizing:border-box;border:0}
.planic .sec__history .historyWrap .historyTab{margin-bottom:10px;padding:0 20px 10px 20px;box-sizing:border-box}
.planic .sec__history .historyWrap .historyTab .btn_tab{font-size:13px}
.planic .sec__history .historyWrap .historyBox{height:calc(100% - 40px)}
.planic .sec__history .historyWrap .historyBox .group{height:100%;max-height:100%}
.planic .sec__history .historyWrap .historyBox .group .historyList{height:100%}
.planic .sec__history .historyWrap .historyBox .group .historyList .item{display:flex;flex-direction:column;box-sizing:border-box;padding:0}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .service__title{font-size:18px;padding:0 20px;box-sizing:border-box}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .service__title>img{width:18px}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .itemList{position:relative;display:flex;flex-direction:column;flex:1;width:100%;overflow:auto;margin-top:15px;padding:0 20px;box-sizing:border-box;z-index:10}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .itemList .dl_item{display:block}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .itemList .dl_item+.dl_item{margin-top:15px}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .itemList .dl_item dt{display:block;font-size:18px}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .itemList .dl_item dd{margin-top:5px;font-size:14px;line-height:1.2;letter-spacing:-.65px}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .itemList .dl_item dd span+span{margin-top:5px}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .view__box--btn{display:block;position:absolute;bottom:30px;left:50%;margin-left:-75px;font-size:18px;font-weight:900;line-height:34px;background:rgba(0,0,0,.8);border-radius:16px;min-width:150px;color:#fff;z-index:100}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .view__box--btn.active{text-decoration:none;width:20px;min-width:20px;height:20px;border-radius:0;top:10px;left:auto;right:20px;background:0 0;font-size:0;line-height:0;color:transparent;text-indent:-10000px}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .view__box--btn.active:before{content:"";display:block;width:12px;height:12px;position:absolute;top:50%;left:50%;margin:-6px 0 0 -6px;background:url(https://static.wehago.com/imgs/common/sp_icon.png) no-repeat -175px -259px/500px 1000px}
.planic .sec__history .historyWrap .historyBox .group .historyList .item .view__box--btn.active+.viewList{display:block;z-index:10}
.planic .sec__history .historyWrap .historyBox .group .historyList .slick-list{height:100%}
.planic .sec__history .historyWrap .historyBox .group .historyList .slick-arrow{border:0;background:0 0}
.planic .sec__history .historyWrap .historyBox .group .historyList .slick-arrow.slick-next{right:-25px}
.planic .sec__history .historyWrap .historyBox .group .historyList .slick-arrow.slick-prev{left:-25px}
.planic .sec__history .historyWrap .historyBox .group .historyList .slick-dots{bottom:0}
.planic .sec__history .historyWrap .viewList{display:none;position:absolute;width:auto;top:0;left:10px;right:10px;bottom:0;background-color:rgba(0,0,0,.8);border-radius:16px;padding:30px 0}
.planic .sec__history .historyWrap .viewList__item{display:block;width:calc(100% - 40px);margin:0 auto}
.planic .sec__history .historyWrap .viewList__item:nth-child(odd){transform:translateY(0)}
.planic .sec__history .historyWrap .viewList__item--title{color:#fff}
.planic .sec__skills .textBox .group__Title{font-size:24px;line-height:1.3}
.planic .sec__skills .textBox .group .groupList li{font-size:20px;line-height:1.3}
.planic .pc_br{display:none}
}
/*# sourceMappingURL=../maps/planic.css.map */
