// ::: Font :::
$dzFont: douzone,"Microsoft YaHei","PingFang SC","MS PGothic","Hiragino Kaku Gothic ProN","굴림",gulim,"Apple SD Gothic Neo",sans-serif !important;
$dztFont : douzonetitle,"Microsoft YaHei","PingFang SC","MS PGothic","Hiragino Kaku Gothic ProN","굴림",gulim,"Apple SD Gothic Neo",sans-serif !important;

// ::: Sprite image url :::
$spUrl: "img/sp_join_setup.png";
$spSize: 250px 250px;

$spIcon: "https://static.wehago.com/imgs/common/sp_icon.png";
$spIconSize: 500px 1000px;

// ::: Color :::
$sky : #00a7ff;
$blue : #1a4fff;
$purple : #4a2afd;
$point : #1c90fb;

