.fp-viewing-main{
    .planic{
        .header{
            display: block;
            position: absolute;
            width: 100%;
            height: 80px;
            background-color: #fff;
            z-index: 10;
            
            &__box{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                max-width: 1100px;
                height: 90px;
                margin: 0 auto;
    
                h1{
                    display: block;
                    position: relative;
                    font-size: 28px;
                    line-height: 34px;
                    font-weight: 900;
                    letter-spacing: -0.7px;
                    color: #000;
                    a{
                        color: #000;
                    }
                }
                .global__menu{
                    display: block;
                    flex: 1;
                    position: relative;
                    .btn__menu--mobile{
                        display: none;
                    }
                    .global__menuList{
                        display: flex;
                        justify-content: space-between;
                        &--item{
                            position: relative;
                            display: block;
                            & > a{
                                position: relative;
                                display: block;
                                font-size: 22px;
                                line-height: 28px;
                                font-weight: 500;
                                color: #4a4a4a;
                                text-decoration: none;
                                &:before{
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: 0;
                                    height: 3px;
                                    background: transparent;
                                }
                                &:hover{
                                    color: #000;
                                    &:before{
                                        width: 100%;
                                        background: #000;
                                        transition: width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s
                                    } 
                                }
                            }
                            
                        }
                        &:before,
                        &:after{
                            content: '';
                            display: block;
                        }
                    }
                    
                    
                }
            }
        }
    }
    
}
.planic{
    display: block;
    position: relative;
    width:100%;
    // header 영역
    .header{
        display: block;
        position: absolute;
        width: 100%;
        height: 80px;
        background-color: #000;
        z-index: 10;
        &__box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 1100px;
            height: 90px;
            margin: 0 auto;

            h1{
                display: block;
                position: relative;
                font-size: 28px;
                line-height: 34px;
                font-weight: 900;
                letter-spacing: -0.7px;
                color: #fff;
                a{
                    color: #fff;
                }
            }
            .global__menu{
                display: block;
                flex: 1;
                position: relative;
                .btn__menu--mobile{
                    display: none;
                }
                .global__menuList{
                    display: flex;
                    justify-content: space-between;
                    &--item{
                        position: relative;
                        display: block;
                        & > a{
                            position: relative;
                            display: block;
                            font-size: 22px;
                            line-height: 28px;
                            font-weight: 500;
                            color: #fff;
                            text-decoration: none;
                            &:before{
                                content: '';
                                display: block;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 0;
                                height: 3px;
                                background: transparent;
                            }
                            &:hover{
                                color: #fff;
                                &:before{
                                    width: 100%;
                                    background: #fff;
                                    transition: width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s
                                } 
                            }
                        }
                        
                    }
                    &:before,
                    &:after{
                        content: '';
                        display: block;
                    }
                }
                
                
            }
        }
    }
    
    // section 영역
    .container{
        display: block;
        position: relative;
        height: 100%;
    }
    .section{
        display: block;
        position: relative;
        height: 100%;
        padding-top: 80px;
        box-sizing: border-box;
        background-color: #fff;
        &:nth-child(odd){
            background-color: #f0f2f7;
        }
    }
    .sec__main{
        display: block;
        background-color: #000;
        .mix_blend_mode{
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
        }
        .mix_blend_mode video{
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
        }
        .mix_blend_mode .textWrap{
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            background-color: #000;
            color: #fff;
            mix-blend-mode: multiply;
            text-align: center;
            font-weight: 900;
            
            box-sizing: border-box;
            .textBox{
                display: inline-block;
                vertical-align: top;
                padding: 40px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 50px solid #fff;
                &__main{
                    font-size: 80px;
                    line-height: 1.2;
                }
                &__sub{
                    font-size: 70px;
                    line-height: 1.2;
                }
            }
            
        }
    }
    .sec__intro{
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        .imgBox{
            display: block;
            position: relative;
            width: 300px;
            .item{
                display: block;
                position: relative;
                width: 100%;
                height: auto;
                & > img{
                    display: block;
                    width: 100%;
                }
                & + .item{
                    margin-top: 30px;
                }
            }
        }
        .textBox{
            display: block;
            position: relative;
            margin-left: 13vw;
            .group{
                display: block;
                position: relative;
                &__Title{
                    display: block;
                    position: relative;
                    margin-bottom: 15px;
                    font-size: 24px;
                    line-height: 1.2;
                    font-weight: 700;
                    color: #000;
                }
                .groupList{
                    display: block;
                    position: relative;
                    margin-top: 10px;
                    &__item{
                        display: block;
                        position: relative;
                        font-size: 20px;
                        line-height: 1.4;
                        padding-left: 150px;
                        box-sizing: border-box;
                        &--date{
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            letter-spacing: -0.65px;
                        }
                        &--main{
                            font-weight: 700;
                        }
                        &--sub{
                            font-size: 16px;
                            color: #4a4a4a;
                        }
                        & + .groupList__item{
                            margin-top: 10px;
                        }
                    }
                }
                & + .group{
                    margin-top: 20px;
                }
            }
        }
    }
    .sec__introduce{
        display: flex;
        justify-content: center;
        align-items: center;
        .groupList__basic{
            display: block;
            position: relative;
            & > li{
                position: relative;
                display: block;
                padding-left: 10px;
                font-size: 16px;
                line-height: 1.4;
                color: #4a4a4a;
                & + li{
                    margin-top: 10px;
                }
                &:before{
                    content: '-';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
        
        .imgBox{
            position: relative;
            display: block;
            display: flex;
            flex-wrap: wrap;
            width:  31.6667vw;
            height: 31.6667vw;
            .item{
                display: block;
                width: calc(50% - 20px);
                height: calc(50% - 20px);
                border-radius: 50%;
                overflow: hidden;
                margin: 10px;
                & > img{
                    display: block;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .textBox{
            display: block;
            
            margin-left: 150px;
            .group{
                display: block;
                position: relative;
                &__Title{
                    display: block;
                    position: relative;
                    margin-bottom: 15px;
                    font-size: 24px;
                    line-height: 1.2;
                    font-weight: 700;
                    color: #000;
                }
                .groupList{
                    display: block;
                    position: relative;
                    margin-top: 10px;
                    &__item{
                        display: block;
                        position: relative;
                        font-size: 20px;
                        line-height: 1.4;
                        padding-left: 150px;
                        box-sizing: border-box;
                        &--date{
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                        &--main{
                            font-weight: 700;
                        }
                        &--sub{
                            font-size: 16px;
                            color: #4a4a4a;
                        }
                        & + .groupList__item{
                            margin-top: 10px;
                        }
                    }
                }
                & + .group{
                    margin-top: 20px;
                }
            }
        }
        .snsBox{
            display: flex;
            width: 260px;
            margin: 30px auto 0;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
            .sns{
                display: block;
                width: 60px;
                height: 60px;
                border: 1px solid #eaeaea;
                border-radius: 50%;
                background: #fff;
            }
            .email{
                display: block;
                margin-top: 20px;
                width: 100%;
                font-size: 16px;
                letter-spacing: -0.65px;
                color: #000;
                text-align: center;
                & > a{
                    color: #000;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .sec__history{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .historyWrap{
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            padding: 30px 20px;
            box-sizing: border-box;
            box-shadow: 0 6px 8px 0 rgba(8, 25, 39, 0.06);
            background-color: #fff;
            .historyTab{
                display: flex;
                width: 100%;
                padding-bottom: 20px;
                border-bottom: 2px solid #e1e1e1;
                margin-bottom: 20px;
                .btn_tab{
                    display: block;
                    font-size: 20px;
                    line-height: 1.2;
                    color: #000;
                    font-weight: 900;
                    & + .btn_tab{
                        margin-left: 15px;
                    }
                    &:nth-child(1):hover,
                    &:nth-child(1).select{
                        color: #cd0000;
                    }
                    &:nth-child(2):hover,
                    &:nth-child(2).select{
                        // color: #f1592a;
                        color: #1c90fb;
                    }
                    &:nth-child(3):hover,
                    &:nth-child(3).select{
                        color: #1c90fb;
                    }
                }
            }
            .historyBox{
                display: block;
                position: relative;
                width: 100%;
                height: calc(100% - 66px);
                .group{
                    display: block;
                    height: 100%;
                    .historyList{
                        display: block;
                        position: relative;
                        width: 100%;
                        height: 100%;
                        .item{
                            position: relative;
                            display: block;
                            padding: 0 20px;
                            height: 100%;
                            box-sizing: border-box;
                            .service__title{
                                display: block;
                                font-size: 24px;
                                line-height: 1.4;
                                font-weight: 900;
                                &--logo{
                                    display: inline-block;
                                    vertical-align: top;
                                    width: 24px;
                                    height: auto;
                                    object-fit: cover;
                                    margin-top: 2px;
                                }
                                &--link{
                                    color: #1c90fb;
                                    &:hover{
                                        text-decoration: underline;
                                    }
                                }
                            }
                            .itemList{
                                display: block;
                                width: 40%;
                                position: relative;
                                margin-top: 15px;
                                min-height: 400px;
                                
                                .dl_item{
                                    display: flex;
                                    font-size: 16px;
                                    line-height: 1.3;
                                    & + .dl_item{
                                        margin-top: 10px;
                                    }
                                    dt{
                                        display: block;
                                        width: 150px;
                                        min-width: 150px;
                                        font-weight: 900;
                                        color: #000;
                                    }
                                    dd{
                                        display: block;
                                        position: relative;
                                        a{
                                            font-weight: 900;
                                            color: #1c90fb;
                                            &:hover{
                                                text-decoration: underline;
                                            }
                                        }
                                        span,p{
                                            display: block;
                                            color: #4a4a4a;
                                            word-break: keep-all;
                                            .linkText{
                                                color: #1c90fb;
                                                cursor: pointer;
                                            }
                                            & + span{
                                                margin-top: 10px;
                                            }
                                            & + p{
                                                margin-top: 10px;
                                            }
                                            
                                        }
                                    }
                                }
                            }
                            .view__box--btn{
                                display: none;
                            }
                        }
                        .slick-list{
                            display: block;
                            position: relative;
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            .slick-track{
                                display: flex;
                                height: 100%;
                                
                            }
                            
                        }
                        .slick-arrow{
                            display: block;
                            position: absolute;
                            top: 50%;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background: #fff;
                            margin-top: -20px;
                            font-size: 0;
                            line-height: 0;
                            color: transparent;
                            text-indent: -10000px;
                            border: 1px solid #e1e1e1;
                            background-color: #fff;
                            z-index: 100;
                            &.slick-prev{
                                left: 0;
                                &:before{
                                    transform: rotate(180deg);
                                    margin-left: -8px
                                }    
                            }
                            &.slick-next{
                                right: 0;
                            }
                            &:before{
                                content: '';
                                display: block;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                width: 12px;
                                height: 22px;
                                margin: -11px 0 0 -4px;
                                background: url(https://static.wehago.com/imgs/common/sp_icon.png) -192px -488px;
                            }
                            &.slick-disabled{
                                display:none !important;
                            }
                        }
                        .slick-dots{
                            display: block;
                            position: absolute;
                            bottom: -30px;
                            left: 50%;
                            transform: translateX(-50%);
                            & > li{
                                display: inline-block;
                                vertical-align: top;
                                width: 6px;
                                height: 6px;
                                margin: 0 5px;
                                &.slick-active{
                                    & > button{
                                        background-color: #000;
                                    }
                                }
                                & > button{
                                    display: block;
                                    font-size: 0;
                                    color: transparent;
                                    text-indent: -10000px;
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 50%;
                                    background-color: rgba(0,0,0,0.3);
                                }
                            }
                        }
                    }
                }
            }
            
            .viewList{
                display:flex;
                flex-wrap: wrap;
                justify-content: space-between;
                position: absolute;
                top: 0;
                right: 10%;
                bottom: 0;
                width: 45%;
                box-sizing: border-box;
                overflow-y: auto;
                -ms-overflow-style: none;
                &.viewList::-webkit-scrollbar {
                    display: none;
                }
                &__item{
                    display: block;
                    width: calc(50% - 10px);
                    &:nth-child(n+3){
                        margin-top: 15px;
                    }
                    &--title{
                        display: block;
                        margin-bottom: 10px;
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 700;
                        color: #000;
                        text-align: center;
                    }
                    &--img{
                        display: block;
                        width: 100%;
                        height: auto;
                        img{
                            display: block;
                            width: 100%;
                            margin: 0 auto;
                        }
                    }
                    &:nth-child(odd){
                        transform: translateY(100px);
                    }
                }
            }
        }
    }
    .sec__skills{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .textBox{
            display: block;
            position: relative;
            .group{
                display: flex;
                position: relative;
                & + .group{
                    margin-top: 30px;
                }
                &__Title{
                    display: block;
                    width: 150px;
                    min-width: 150px;
                    font-size: 30px;
                    line-height: 1.3;
                    font-weight: 900;
                }
                .groupList{
                    display: block;
                    position: relative;
                    li{
                        display: block;
                        font-size: 22px;
                        line-height: 1.4;
                    }
                }
            }
        }
    }

}