@media (max-width: 750px){
.fp-viewing-main{
    .planic .header{
        height: 40px;
        background-color: #fff;
        .global__menu .btn__menu--mobile span{
            background-color: #000 !important;
        }
    }
}
.planic{
        .header{
            height: 40px;
            padding: 0 20px; 
            box-sizing: border-box;
            .header__box{
                height: 40px;
                h1{
                    font-size: 18px;
                    line-height: 1.3em;
                }
                .global__menu{
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    margin-top: -10px;
                    flex: none;
                    .btn__menu--mobile{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 20px;
                        height: 20px;
                        z-index: 10;
                        span{
                            display: block;
                            width: 100%;
                            height: 3px;
                            background: #fff;
                            border-radius: 6px;
                            margin: 1px 0;
                        }
                    }
                    .global__menuList{
                        display: block;
                        position: fixed;
                        top: 0;
                        transform: translateX(15%);
                        transition: transform 300ms linear;
                        bottom: 0;
                        width: 60%;
                        background: #fff;
                        padding: 40px 0;
                        box-sizing: border-box;
                        border-left: 1px solid #e1e1e1;
                        &--item{
                            display: block;
                            position: relative;
                            padding: 10px 20px;
                            & + .global__menuList--item{
                                border-top: 1px solid #e1e1e1;
                            }
                            & > a{
                                display: block;
                                width: 100%;
                                font-size: 18px;
                                line-height: 1.3em;
                                color: #4a4a4a;
                            }
                        }
                    }
                    &.open{
                        .btn__menu--mobile{
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            width: 20px;
                            height: 20px;
                            z-index: 10;
                            
                            span{
                                position: absolute;
                                display: block;
                                top: 8px;
                                left: 0;
                                width: 100%;
                                height: 3px;
                                background: #000;
                                border-radius: 6px;
                                &:nth-child(1){
                                    transform: rotate(45deg);
                                }
                                &:nth-child(2){
                                    transform: rotate(135deg);
                                }
                                &:last-child{
                                    display: none;
                                }
                            }

                        }
                        .global__menuList{
                            transform: translateX(-85%);
                            transition: transform 300ms linear;
                        }
                    }
                }

            }
        }
        .section{
            padding-top: 40px;
        }
        .sec__main{
            .mix_blend_mode .textWrap .textBox{
                max-width: 90%;
                &__main{
                    font-size: 7vw;
                }
                &__sub{
                    font-size: 7.2vw;
                }
            }
        }
        .sec__introduce{
            flex-direction: column;
            padding: 40px 20px;
            box-sizing: border-box;
            .imgBox{
                width: 100%;
                margin: 0 auto;
                align-items: center;
                justify-content: center;
                .item{
                    width: 70px;
                    height: 70px;
                    margin: 5px;

                }
            }
            .textBox{
                margin: 0;
                li{
                    font-size: 14px;
                }
            }
        }
        .sec__intro{
            padding: 40px 20px;
            box-sizing: border-box;
            .imgBox{
                display: none;
            }
            .textBox{
                margin: 0;
                .group{
                    .groupList__item{
                        font-size: 18px;
                        line-height: 1.3;
                        &--sub{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        .sec__history{
            padding: 40px 0 0;
            box-sizing: border-box;
            .historyWrap{
                display: block;
                height: 100%;
                width: 100%;
                padding: 20px 0;
                box-sizing: border-box;
                border: 0;
                .historyTab{
                    justify-content: space-between;
                    margin-bottom: 10px;
                    padding: 0 20px 10px 20px;
                    box-sizing: border-box;
                    .btn_tab{
                        font-size: 13px;
                    }
                }
                .historyBox{
                    height: calc(100% - 40px);
                    .group{
                        height: 100%;
                        max-height: 100%;
                        .historyList{
                            height: 100%;
                            .item{
                                display: flex;
                                flex-direction: column;
                                box-sizing: border-box;
                                padding: 0;
                                .service__title{
                                    font-size: 18px;
                                    padding: 0 20px;
                                    box-sizing: border-box;
                                    > img{
                                        width: 18px;
                                    }
                                }
                                .itemList{
                                    position: relative;
                                    display: flex;
                                    flex-direction: column;
                                    flex: 1;
                                    width: 100%;
                                    overflow: auto;
                                    margin-top: 15px;
                                    padding: 0 20px;
                                    box-sizing: border-box;
                                    z-index: 10;
                                    .dl_item{
                                        display: block;
                                        & + .dl_item{
                                            margin-top: 15px;
                                        }
                                        dt{
                                            display: block;
                                            font-size: 18px;
                                        }
                                        dd{
                                            margin-top: 5px;
                                            font-size: 14px;
                                            line-height: 1.2;
                                            letter-spacing: -0.65px;
                                            span + span{
                                                margin-top: 5px;
                                            }
                                        }
                                    }
                                }
                                .view__box--btn{
                                    display:block;
                                    position: absolute;
                                    bottom: 30px;
                                    left: 50%;
                                    margin-left: -75px;
                                    font-size: 18px;
                                    font-weight: 900;
                                    line-height: 34px;
                                    background: rgba(0,0,0,0.8);
                                    border-radius: 16px;
                                    min-width: 150px;
                                    color: #fff;
                                    z-index: 100;
                                   
                                    &.active{
                                        text-decoration: none;
                                        width: 20px;
                                        min-width: 20px;
                                        height: 20px;
                                        border-radius: 0;
                                        top: 10px;
                                        left: auto;
                                        right: 20px;
                                        background: none;
                                        font-size: 0;
                                        line-height: 0;
                                        color: transparent;
                                        text-indent: -10000px;
                                        &:before{
                                            content: '';
                                            display: block;
                                            width: 12px;
                                            height: 12px;
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            margin: -6px 0 0 -6px;
                                            background: url(https://static.wehago.com/imgs/common/sp_icon.png) no-repeat -175px -259px / 500px 1000px;                                            
                                        }
                                        & + .viewList{
                                            display: block;
                                            z-index: 10;
                                        }
                                    }

                                }

                            }
                            .slick-list{
                                height: 100%;
                            }
                            .slick-arrow{
                                border: 0;
                                background: none;
                            }                
                            .slick-arrow.slick-next{
                                right: -25px;
                            }
                            .slick-arrow.slick-prev{
                                left: -25px;
                            }
                            .slick-dots{
                                bottom: 0;
                            }
                        }
                        
                    }
                    
                }
                
                .viewList{
                    display: none;
                    position: absolute;
                    width: auto;
                    top: 0;
                    left: 10px;
                    right: 10px;
                    bottom: 0;
                    background-color: rgba(0,0,0,0.8);
                    border-radius: 16px;
                    padding: 30px 0;
                    &__item{
                        display: block;
                        width: calc(100% - 40px);
                        margin: 0 auto;
                        &:nth-child(odd){
                            transform: translateY(0);
                        }
                        &--title{
                            color: #fff;
                        }
                    }
                }
                

            }

        }
        .sec__skills{
            .textBox{
                .group__Title{
                    font-size: 24px;
                    line-height: 1.3;
                }
                .group .groupList li{
                    font-size: 20px;
                    line-height: 1.3;
                }
            }
        }
    }
    
}

