.rateNotice{
    position: relative;
    &__title{
        position: relative;
        display: block;
        padding-left: 20px;
        font-size: 12px;
        line-height: 18px;
        color: #777;
        font-weight: 900;
        &::before{
            content: '';
            display: block;
            position: absolute;
            left: 2px;
            top: 50%;
            width: 14px;
            height: 14px;
            margin-top: -7px;
            background: url($spUrl) no-repeat -151px 0 / $spSize;
        }
    }
    .noticeList{
        display: block;
        margin-top: 7px;
        li{
            position: relative;
            display: block;
            padding-left: 9px;
            font-size: 11px;
            line-height: 18px;
            letter-spacing: -0.55px;
            color: #909090;
            &::before{
                content: '·';
                display: block;
                position: absolute;
                top: 0;
                left: 3px;
                color: #c6c6c6;
            }
        }
    }
}